<%= form_for(@hacker) do |f| %>
  <% if @hacker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hacker.errors.count, "error") %> prohibited this hacker from being saved:</h2>

      <ul>
      <% @hacker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="control-label col-lg-2">Nombre</label>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <label class="control-label col-lg-2">Email</label>
    <%= f.text_field :email %>
  </div>


  <div class="form-group">
    <label class="control-label col-lg-2">Generación</label>
    <%= f.select :generation_id, Generation.all.map {|generation| [generation.name, generation.id]}, include_blank: "Seleccione" %>
	</div>

	<div>
		<label class="control-label col-lg-2">Lenguajes</label>
		<%= f.collection_select :language_ids, Language.order(:name), :id, :name, {}, {multiple: true}
 %>	</div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Guardar", :class => 'btn btn-primary' %>
      <%= link_to "Cancelar",
                hackers_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
