<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @hacker.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hacker.email %>
</p>

<p>
  <strong>Generación:</strong>
  <%= @hacker.generation.name %>
</p>

<p>
  <strong>Lenguajes</strong>
  <ul>
    <% @hacker.languages.each do |lang|  %>
    <li><%= lang.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_hacker_path(@hacker) %> |
<%= link_to 'Back', hackers_path %>
